<footer>
  <p>"Code. Create. Disrupt."</p>
  <p>
    <a href="mailto:zeelbh@gmail.com">zeelbh@gmail.com</a> |
    <a href="https://www.linkedin.com/in/zeel-bhalodia/" target="_blank">LinkedIn</a>
    <p>&copy; 2025 Zeel Bhalodia. All rights reserved.</p>
  </p>
</footer>
