<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%- include('partials/header') %>
<section class="hero">
    <div class="hero-left">
      <h1>Hello, I’m <span>Zeel Bhalodia</span></h1>
      <h2>Creative Web Developer</h2>
      <p>I am an IT student currently studying at Charusat University. I have hands-on experience gained during an internship in web development and mobile applications...</p>
      <div class="hero-buttons">
        <a href="/resume/RESUME_ZEEL-BHALODIA.pdf" target="_blank" class="btn-highlight">View Resume</a>
        <a href="mailto:zeelbh@gmail.com" class="btn-outline">Let's Connect</a>
      </div>
    </div>
    <div class="hero-right">
      <img src="/public/image/zeel.jpg" alt="Zeel Bhalodia" />
    </div>
  </section>
  <%- include('partials/footer') %>
</body>
</html>